form {
    padding: 16px 20px;
  
    border: 1px solid #000;
    border-radius: 12px;
  }
  
  .formSubmit__label {
    display: block;
    margin-bottom: 12px;
  }
  
  .formSubmit__input {
    margin-top: 4px;
  }
  
  input {
    display: block;
  }
  